<body>
  <div class="container">
    <div id="login-page" class="row">
      <div class="col s8 offset-s2 z-depth-6 card-panel">
        <form materialize class="login-form col s12" [formGroup]="signUpForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="row">
            <div class="input-field col s12 center">
              <img src="../../assets/images/app_icon.png" alt="" class="responsive-img valign profile-image-login">
            </div>
          </div>
          <div class="row margin">
            <div class="input-field col s12">
              <div class="form-group">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" class="form-control validate" name="name" formControlName="name">
                <label for="name">Name</label>
                <small>
                                    <span class="col s2"></span>
                                    <div *ngIf="!signUpForm.controls.name?.valid && (signUpForm.controls.name?.dirty ||
                                    signUpForm.controls.name?.touched)" class="left-align red-text">
                                    <div [hidden]="!signUpForm.controls.name.errors.required">
                                        Name is required
                                    </div>
                                    <span class="col s2"></span>
                                    <div [hidden]="!signUpForm.controls.name.errors.minlength">
                                        Name Minimum Length is {{signUpForm.controls.name.errors.minlength?.requiredLength}}
                                    </div>
                                </div>
                            </small>
              </div>
            </div>
          </div>

          <div class="row margin">
            <div class="input-field col s12">
              <div class="form-group">
                <i class="material-icons prefix">phone</i>
                <input type="text" class="form-control" name="phone" formControlName="phone">
                <label for="phone">Phone</label>
                <small>
                                <span class="col s2"></span>
                                <div *ngIf="!signUpForm.controls.phone?.valid && (signUpForm.controls.phone?.dirty ||
                                signUpForm.controls.phone?.touched)" class="left-align red-text">
                                <div [hidden]="!signUpForm.controls.phone.errors.required">
                                    Phone is required
                                </div>
                                <span class="col s2"></span>
                                <div [hidden]="signUpForm.controls.phone.errors.valid">
                                    Phone number is invalid
                                </div>
                            </div>
                        </small>
              </div>
            </div>
          </div>

          <div class="row margin">
            <div class="input-field col s12">
              <div class="form-group">
                <i class="material-icons prefix">email</i>
                <input type="email" class="form-control" name="email" formControlName="email" email>
                <label for="email">E-mail</label>
                <small>
                            <span class="col s2"></span>
                            <div *ngIf="!signUpForm.controls.email?.valid && (signUpForm.controls.email?.dirty ||
                            signUpForm.controls.email?.touched)" class="left-align red-text">
                            <div [hidden]="!signUpForm.controls.email.errors.required">
                                E-mail is required
                            </div>
                            <span class="col s2"></span>
                            <div [hidden]="signUpForm.controls.email.errors.valid">
                                E-mail format is invalid
                            </div>
                        </div>
                    </small>
              </div>
            </div>
          </div>

          <div class="row margin">
            <div class="input-field col s12">
              <div class="form-group">
                <i class="material-icons prefix">lock</i>
                <input type="password" class="form-control" name="password" formControlName="password">
                <label for="password">Password</label>
                <small>
                        <span class="col s2"></span>
                        <div *ngIf="!signUpForm.controls.password?.valid && (signUpForm.controls.password?.dirty ||
                        signUpForm.controls.password?.touched)" class="left-align red-text">
                        <div [hidden]="!signUpForm.controls.password.errors.required">
                            Password is required
                        </div>
                        <span class="col s2"></span>
                        <div [hidden]="!signUpForm.controls.password.errors.minlength">
                            Password Minimum Length is {{signUpForm.controls.password.errors.minlength?.requiredLength}}
                        </div>
                    </div>
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <div class="form-group">
                <button class="btn waves-effect waves-light col s12" type="submit" [disabled]="!signUpForm.valid">Register Now</button>
              </div>
            </div>
            <div class="input-field col s12">
              <p class="margin center medium-small sign-up">Already have an account? <a routerLink="/login">Login</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
