<div class="container" ng-if="condo">
  <div class="col s6">
    <ul class="collection with-header">
      <li class="collection-header center-align"><h4>My Condos</h4></li>
      <li class="collection-item" *ngFor="let item of condosList" (click)="setSelectedCondo(item)">
        <div>{{item.name}}<a class="secondary-content"><i class="material-icons">send</i></a></div>
      </li>
      <p class="center-align">Displaying {{ condosList.length }} condos</p>
    </ul>
  </div>
  <div class="col s6">
    <app-condo-details [(data)]="selectedCondo" *ngIf="selectedCondo.name"></app-condo-details>
  </div>
</div>
