<div class="container">

  <h1 class="heading"><strong>Register Condo</strong></h1>

  <div class="row">
    <form materialize class="col s12" [formGroup]="registerCondoForm" (ngSubmit)="registerCondo()" novalidate>
      <div class="row">
        <div class="input-field col s12">
          <div class="form-group">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" class="form-control" name="name" formControlName="name" [class.invalid]="registerCondoForm.controls['name'].touched
                  && !registerCondoForm.controls['name'].valid">
            <label for="name" data-error="Invalid Name">Condo Name</label>
          </div>
        </div>
      </div>
      <div formGroupName="address">
        <div class="row">
          <div class="input-field col s8">
            <div class="form-group">
              <i class="material-icons prefix">map</i>
              <input type="text" class="form-control" name="street" formControlName="street" [class.invalid]="registerCondoForm.controls['address'].controls['street'].touched
                  && !registerCondoForm.controls['address'].controls['street'].valid">
              <label for="street" data-error="Invalid Street">Street</label>
            </div>
          </div>
          <div class="input-field col 8">
            <div class="form-group">
              <i class="material-icons prefix">map</i>
              <input type="text" class="form-control" name="zipcode" formControlName="zipcode" [class.invalid]="registerCondoForm.controls['address'].controls['zipcode'].touched
                  && !registerCondoForm.controls['address'].controls['zipcode'].valid">
              <label for="zipcode" data-error="Invalid ZipCode">ZipCode</label>
            </div>
          </div>
          <div class="input-field col s8">
            <div class="form-group">
              <i class="material-icons prefix">map</i>
              <input type="text" class="form-control" name="city" formControlName="city" [class.invalid]="registerCondoForm.controls['address'].controls['city'].touched
                  && !registerCondoForm.controls['address'].controls['city'].valid">
              <label for="city" data-error="Invalid City">City</label>
            </div>
          </div>
          <div class="input-field col s8">
            <div class="form-group">
              <i class="material-icons prefix">map</i>
              <input type="text" class="form-control" name="state" formControlName="state" [class.invalid]="registerCondoForm.controls['address'].controls['city'].touched
                  && !registerCondoForm.controls['address'].controls['state'].valid">
              <label for="city" data-error="Invalid City">State</label>
            </div>
          </div>
          <div class="col s1"></div>
          <div class="input-field col s8">
            <div class="form-group">
              <i class="material-icons prefix">map</i>
              <input type="text" class="form-control" name="country" formControlName="country" [class.invalid]="registerCondoForm.controls['address'].controls['country'].touched
                  && !registerCondoForm.controls['address'].controls['country'].valid">
              <label for="country" data-error="Invalid Country">Country</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group right-align">
        <button class="btn waves-effect waves-light" type="submit">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
