<nav>
  <div class="nav-wrapper amber">
    <div class="offset-s6">
      <a routerLink="" class="brand-logo">O Sindico</a>
    </div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <!--<li routerLinkActive="active"><a routerLink="/login">Log In</a></li>-->
      <li>
        <a class="dropdown-button" href="#!" data-activates="dropdown1">
          <i class="material-icons left">person</i>{{user.name}}<i class="material-icons right">arrow_drop_down</i></a>
        <ul id='dropdown1' class='dropdown-content'>
          <li><a>Profile</a></li>
          <li><a>Settings</a></li>
          <li class="divider"></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
