.modal {
  max-height: 90%;
}

.modal-form-row {
  margin-bottom: 0px;
}

.mini-perfil {
  width: 37px;
  margin-top: 12px;
  margin-right: 20px;
}

.indent {
  text-indent: 20px;
}

#info-user-menu {
  padding: 30px 10px
}

#perfil-sidebar {
  width: 50px;
  display: block;
  margin: 15px auto;
}

#user-name-sidebar {
  font-size: 18px;
  display: block;
}

#user-email-sidebar {
  font-size: 12px;
  display: block;
  line-height: 2.1;
}

#slide-out{
    top: 64px;
    width: 250px;
}
